:root {
  --white-clr: hsl(100, 100%, 100%);
  --red-clr: hsl(0, 93%, 56%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav {
  position: fixed;
  padding-block: 1rem;
}

.nav-item {
  color: var(--white-clr);
  padding: 1rem 1.8rem;
  border-radius: 50px;
}

.nav-item:hover {
  background-color: hsl(0, 93%, 65%);
}

.active-item {
  background-color: var(--red-clr);
}

.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.6)),
    url(/assets/images/home-page-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;

  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem;
}

.header-text {
  font-size: 5rem;
  color: var(--white-clr);
}

.header-p {
  color: var(--white-clr);
  font-size: 2rem;
}
